body{
    background-color: green;
}

h2 {
    font-size: 16px;
    color: coral;
}

h2.fonte-azul{
    color: blue;
}

p {
    font-size: 14px;
    color: #666;
}

#paragrafo{
    font-size: 11px;
    color: #8888;
}
#paragrafo2{
    font-size: 11px;
    color: #8888;
}